body{
    background-color: #000;
}
.homepage-container{
    width: 95vw;
    margin-top: 50px;
    margin-left: 20px;
    height: 60vw;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: transparent;

.home-conatiner{
    width: 48vw;
    margin-top: 40px;
    margin-left: 20px;
    height: 40vw;
    display: block;
    float: left;
    .intro-container{
            margin-top: 50px;
            margin-left: 30px;
            height: 15vw;
            width: 45vw;  
            display: block;
                .label{
                    text-align: justify;
                    text-decoration: none;
                    font-size: 35px;
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    color: #fff;
                    .styling{
                        font-style: italic;
                        text-shadow: 0 0 8px #fff;
                        color: #d0e4e2;
                    }
                }       
        
        }
}

}

@media screen and (max-width: 800px) {
    .homepage-container{
        width: 95vw;
        margin-top: 155px;
        margin-left: 1px;
        height: 125vw;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        background-color: transparent;

        .home-conatiner{
            width: 90vw;
            margin-top: 5px;
            margin-left: 5px;
            height: 120vw;
            display: block;  
             .intro-container{
                    margin-top: 10px;
                    margin-left: 10px;
                    height: 55vw;
                    width: 85vw;  
                    display: block;
                        .label{
                            text-align: justify;
                            text-decoration: none;
                            font-size: 28px;
                            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                            color: #fff;
                            .styling{
                                font-style: italic;
                                text-shadow: 0 0 8px #fff;
                                color: #d0e4e2;
                            }
                        }       
                
                }
        }       
    }
}